<html lang="es">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="producto.component.css">

</head>


<body>
    <div class="card">
        <figure>
            <img src="assets\img\IMG1.jpg">
        </figure>
        <div class="Contenido">
            <h3>CARTERAS</h3>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-6 col-sm-4">Precio</div>
                        <div class="col-6 col-sm-4">$100</div>

                        <div class="w-100 d-none d-md-block"></div>
                    </div>
                </div>
            </div>
            <a href="#">Mas Informacion</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="assets/img/IMG2.jpg">
        </figure>
        <div class="Contenido">
            <h3>ZAPATOS</h3>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-6 col-sm-4">Precio</div>
                        <div class="col-6 col-sm-4">$100</div>

                        <div class="w-100 d-none d-md-block"></div>


                    </div>
                </div>
            </div>
            <a href="#">Mas Informacion</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="assets/img/IMG3.jpg">
        </figure>
        <div class="Contenido">
            <h3>CONJUNTOS</h3>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-6 col-sm-4">Precio</div>
                        <div class="col-6 col-sm-4">$100</div>

                        <div class="w-100 d-none d-md-block"></div>


                    </div>
                </div>
            </div>
            <a href="#">Mas Informacion</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="assets/img/IMG2.jpg">
        </figure>
        <div class="Contenido">
            <h3>ZAPATOS</h3>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-6 col-sm-4">Precio</div>
                        <div class="col-6 col-sm-4">$100</div>

                        <div class="w-100 d-none d-md-block"></div>

                    </div>
                </div>
            </div>
            <a href="#">Mas Informacion</a>
        </div>
    </div>

    <div class="card">
        <figure>
            <img src="assets/img/IMG3.jpg">
        </figure>
        <div class="Contenido">
            <h3>CONJUNTOS</h3>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-6 col-sm-4">Precio</div>
                        <div class="col-6 col-sm-4">$100</div>

                        <div class="w-100 d-none d-md-block"></div>


                    </div>
                </div>
            </div>
            <a href="#">Mas Informacion</a>
        </div>
    </div>

</body>

</html>