<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputNombre">Nombre</label>
      <input type="Nombre" class="form-control" id="inputNombre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDesc">Descripción</label>
      <input type="Descripción" class="form-control" id="inputDesc">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPrecio">Precio</label>
    <input type="Precio" class="form-control" id="inputPrecio" >
  </div>
  <div class="form-group">
    <label for="inputCant">Cantidad</label>
    <input type="Cantidad" class="form-control" id="inputCant" >
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDet">Detalles</label>
      <input type="Detalles" class="form-control" id="inputDet">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCat">Categoría</label>
      <select id="inputCat" class="form-control">
        <option selected>A</option>
        <option>B</option>
        <option>C</option>
      </select>
  </div>
  <br />
  <button type="Guardar" class="btn btn-danger btn-block" routerLink="agregarprod/agregarprod.component.html">Agregar </button></div>

</form>