<form>
    <div class="form-inline">
      <label for="updateUser">Usuario</label>
      <input type="text" class="form-control col-md-4" id="updateUsuario">
      <button type="Editar" class="btn btn-primary" routerLink="/updateUser">Editar</button>
    </div>
    <br>
    <div class="form-inline">
      <label for="updateNombre">Nombre</label>
      <input type="text" class="form-control col-md-4" id="exampleUpdateNombre">
      <button type="Editar" class="btn btn-primary" routerLink="/updateNombre">Editar</button>
    </div>
    <br>
    <div class="form-inline">
      <label for="updateCorreo">Correo electronico</label>
      <input type="email" class="form-control col-md-4" id="exampleUpdateEmail" aria-describedby="emailHelp">
      <button type="Editar" class="btn btn-primary" routerLink="/updateCorreo">Editar</button>
    </div>
    <br>
    <div class="form-inline">
      <label for="exampleUpdatePassword">Contraseña</label>
      <input type="password" class="form-control col-md-4" id="exampleUpdatePassword">
      <button type="Editar" class="btn btn-primary" routerLink="/updatePassword">Editar</button>
    </div>
    <br>
    <div class="form-inline">
      <label for="updateCiudad">Ciudad</label>
      <input type="text" class="form-control col-md-4" id="updateCiudad">
      <button type="Editar" class="btn btn-primary" routerLink="/updateCiudad">Editar</button>
    </div>
    <br>
    <div class="form-inline">
      <label for="updateTelefono">Telefono</label>
      <input type="tel" class="form-control col-md-4" id="updateTelefono">
      <button type="Editar" class="btn btn-primary" routerLink="/updateTelefono">Editar</button>
    </div>
</form>
