    <form>
      <br>
    <div class="form-inline">
      <label for="exampleUpdatePassword">Contraseña</label>
      <input type="password" class="form-control col-md-4" id="exampleUpdatePassword">
    </div>
    <br>
    <div class="form-inline">
        <label for="exampleUpdatePassword">Confirmar Contraseña</label>
        <input type="password" class="form-control col-md-4" id="exampleUpdatePassword">
    </div>
    <br>
    <button type="Finalizar" class="btn btn-primary" routerLink="/actualizarCuenta">Finalizar</button>
    </form>
    