<head>
  <title>Espacio para logo de la pagina</title>
</head>

<body>
  <div class="container">
    <form>
      <br>
      <label for="indicador">Crear cuenta</label>
      <br>
      <div class="form-group">
        <label for="entradaUsuario">Ingrese su nombre de usuario</label>
        <input type="usuario" class="form-control" id="entradaDeUsuario" placeholder="Escribe tu usuario aqui">
      </div>
      <div class="form-group">
        <label for="entradaDeNombre">Ingrese su nombre</label>
        <input type="nombre" class="form-control" id="entradaDeNombre" placeholder="Escribe tu nombre aqui">
      </div>
      <div class="form-group">
        <label for="entradaDeApellido">Ingrese su apellido</label>
        <input type="apellido" class="form-control" id="entradaDeApellido" placeholder="Escribe tu apellido aqui">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="tucorreo@example.com">
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electronico con nadie mas.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="entradaDeVerificacion">Ingrese de nuevo su Contraseña</label>
        <input type="password" class="form-control" id="entradaDeVerificacion" placeholder="Escribe nuevamente tu Contraseña">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Mostrar</label>
      </div>
      <div class="form-group">
        <label for="entradaDeCiudad">Ingrese su ciudad</label>
        <input type="ciudad" class="form-control" id="entradaDeCiudad" placeholder="Escribe tu ciudad aqui">
      </div>
      <div class="form-group">
        <label for="entradaDeTelefono">Ingrese su telefono</label>
        <input type="Telefono" class="form-control" id="entradaDeTelefono" placeholder="Escribe tu telefono aqui">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <br><br>
    </form>
  </div>
</body>
