<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h4 class="d-flex-inline mr-2 text-center">Chat</h4>
            <span class="d-flex-inline mt-1"><i class="fa fa-circle estado-color"> </i></span>
        </div>
        <div class="messaging">
            <div class="inbox_msg">
                <!-- chat lateral -->
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="input-group">
							<input type="text" placeholder="Busca tus chat aquí" name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
							</div>
						</div>
                    </div>
                    <div class="inbox_chat">
                        <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"> <img [src]=[fotoUsuarioActual] alt="usuario de chat actual"> </div>
                            <div class="chat_ib">
                            <h5>{{usuarioActual}} <span class="chat_date">{{horaUsuarioActual}}</span></h5>
                            <p>{{mensajeUsuarioActual}}</p>
                            </div>
                        </div>
                        </div>
                        <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img [src]=[fotoUsuarioAlmacenado] alt="usuario de chat almacenados"> </div>
                            <div class="chat_ib">
                            <h5>{{usuarioAlmacenado}} <span class="chat_date">{{horaUsuarioAlmacenado}}</span></h5>
                            <p>{{mensajeUsuarioAlmacenado}}</p>
                            </div>
                        </div>
                        </div>
                        <!-- <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="assets/user.png" alt="user"> </div>
                            <div class="chat_ib">
                            <h5>{{usuarioLocal}} <span class="chat_date">14:54 p.m</span></h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta ullam temporibus
                                 fuga officia magnam qui minus consequuntur!.</p>
                            </div>
                        </div>
                        </div> -->
                        <!-- <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="assets/user.png" alt="user"> </div>
                            <div class="chat_ib">
                            <h5>{{userEntrante}} <span class="chat_date">10:40 a.m</span></h5>
                            <p>Perspiciatis maiores, cumque vel dolorem, soluta optio repudiandae, voluptate laudantium fuga beatae harum.</p>
                            </div>
                        </div>
                        </div> -->
                        <!-- <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="assets/user.png" alt="user"> </div>
                            <div class="chat_ib">
                            <h5>{{userEntrante}} <span class="chat_date">Ayer</span></h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta ullam temporibus
                                fuga officia magnam qui minus consequuntur!.</p>
                            </div>
                        </div>
                        </div> -->
                        <!-- <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="assets/user.png" alt="user"> </div>
                            <div class="chat_ib">
                            <h5>{{userLocal}} <span class="chat_date">Jueves</span></h5>
                            <p>Perspiciatis maiores, cumque vel dolorem, soluta optio repudiandae, voluptate 
                                laudantium fuga beatae harum.</p>
                            </div>
                        </div>
                        </div> -->
                        <!-- <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="assets/user.png" alt="user"> </div>
                            <div class="chat_ib">
                            <h5>{{userEntrante}} <span class="chat_date">Lunes</span></h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta ullam temporibus
                                fuga officia magnam qui minus consequuntur!.</p>
                            </div>
                        </div>
                        </div> -->
                    </div>
                </div>
                
                <!-- Fin chat lateral -->
                <div class="mesgs">
                <div class="msg_history">
                    <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img [src]=[fotoUsuarioActual] alt="usuario de chat actual"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>{{mensajeUsuarioActual}}</p>
                        <span class="time_date"> {{horaUsuarioActual}}</span></div>
                    </div>
                    </div>
                    <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>{{mensajeUsuarioLocal}}</p>
                        <span class="time_date"> {{horaUsuarioLocal}}</span> </div>
                    </div>
                    <!-- <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src=`{{fotoEntrante}}` alt="user"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>{{mensajeEntrante}}</p>
                        <span class="time_date"> 13:01 PM    |    Ayer</span></div>
                    </div>
                    </div> -->
                    <!-- <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>{{mensajeLocal}}</p>
                        <span class="time_date"> 17:22 AM    |    Hoy</span> </div>
                    </div> -->
                    <!-- <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="assets/user.png" alt="user"> </div>

                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>{{mensajeEntrante}}</p>
                        <span class="time_date"> 17:47 AM    |    Hoy</span></div>
                    </div>
                    </div> -->
                </div><br>
                <div class="type_msg">
                    <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Escribe un mensaje aquí" />
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
                </div>
            </div>            
        </div>
    </div>    
</main>