<form>
  <div class="form-group">
    <label for="inputUsuario">Usuario</label>
    <input type="usuario" class="form-control" id="inputUsuario">
  </div>
  <div class="form-group">
    <label for="correo">Correo electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <label for="motivoCierre">Motivo</label>
    <input type="Motivo" class="form-control" id="motivoCierre">
  </div>
  <button type="Enviar" class="btn btn-primary">Enviar</button>
</form>
