<div class="inbox_people">
    <div class="headind_srch">
        <div class="input-group">
            <input type="text" placeholder="Busca tus chat aquí" name="" class="form-control search">
            <div class="input-group-prepend">
                <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="inbox_chat">
        <div class="chat_list active_chat">
        <div class="chat_people">
            <!-- <div class="chat_img"> <img [src]=[fotoUsuarioActual] alt="usuario de chat actual"> </div> -->
            <div class="chat_ib">
            <h5>{{usuarioAlmacenado}} <span class="chat_date">{{horaUsuarioAlmacenado}}</span></h5>
            <p>{{mensajeUsuarioAlmacenado}}</p>
            </div>
        </div>
        </div>       
    </div>
</div>