<div class="container">
    <div class="row">
      <div class="col-md-6">
          <img src="https://resources.claroshop.com/medios-plazavip/fotos/productos_sears1/original/2766595.jpg"
          alt="Inserte titulo aqui"
          class="image-responsive"
          height="500"
          width="500"
          />
      </div>
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-12">
                  <h1>Pantalla LED 32 inch</h1>
              </div>
          </div> <!--Row-->
          <div class="row">
              <div class="col-md-12">
                  <span class="label label-primary"> Tipo: PANTALLA </span>
                  <span class="monospaced"> No. 6625 </span>
                </div>
            </div> <!--Row-->
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        Pantalla LCD FULL HD 4K
                    </p>
                </div>
            </div><!--Row-->

            <div class="row">
              <div class="col-md-12 bottom-rule">
                  <h2 class="product-price">PRECIO: $100.00</h2>
              </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-3">
                    <span class="monospaced">Calificación:</span>
                </div>
                <div class="col-md-3">
                    <span class="sr-only">Five out of Five Stars</span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star-o" aria-hidden="true"></span>
                    <span class="label label-success"> 75 </span>
                </div>

            </div><!-- end row -->

            <div class="row add-to-cart">
                <div class="col-md-5 product-qty">
                    <span class="btn btn-default btn-lg btn-qty"></span>
                    <span class="fa fa-plus" aria-hidden="true"></span>
                    <input class="btn btn-default btn-lg btn-qty" value="1" />
                    <span class="btn btn-default btn-lg btn-qty"></span>
                    <span class="fa fa-minus" aria-hidden="true"></span>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-lg btn-brand btn-full-width">
                        Agregar al carrito
                    </button>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-12 bottom-rule top-10"></div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-md- ">
                  <a class="nav-link" [routerLink]="['/agregarprod/']"><p>ORDENAR POR CELULAR</p></a>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-md- top-10">
                    <a class="nav-link" [routerLink]="['/agregarprod/']">AGREGAR A LA LISTA DE DESEOS</a>
                </div>
            </div><!-- end row -->
            <div class="row">
              <div class="col-md-3 top-10">
                  <p> <br> <b>EN EXISTENCIA</b></p>
              </div>
          </div><!-- end row -->
        </div>
    </div> <!--Row-->
</div> <!--Container-->
