<br />
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
                <h4 class="">
                    ¿Olvidaste tu contraseña?
                  </h4>
                <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
                    <fieldset>
                      <span class="help-block">
                        Dirección de correo electrónico que utiliza para iniciar sesión en su cuenta
                        <br>
                        Le enviaremos un correo electrónico con instrucciones para elegir una nueva contraseña.
                      </span>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="icon-user">@</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Correo">
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <button type="button" class="btn btn-primary px-4">Aceptar</button>
                        </div>
                        </div>
                      <p class="help-block">
                        <a class="text-muted" href="#" id="acceso"><small>Acceso a la cuenta</small></a>
                      </p>
                    </fieldset>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

